<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Cliente</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen p-10">

<h1 class="text-3xl font-bold mb-8" th:text="${mode == 'editar'} ? 'Editar cliente' : 'Agregar cliente'">Agregar cliente</h1>

<form th:action="@{/vistaC/save}" th:object="${client}" method="post"  class="space-y-6 max-w-2xl">
    <!-- ID oculto -->
    <input type="hidden" th:field="*{client_id}"  required/>

    <!-- Nombre -->
    <div>
        <label class="block font-semibold mb-1">Nombre</label>
        <input type="text" th:field="*{name}" placeholder="Ingrese el nombre"
               class="w-full bg-gray-200 p-4 rounded-xl outline-none focus:ring-2 focus:ring-blue-500" required/>
    </div>

    <!-- Teléfono -->
    <div>
        <label class="block font-semibold mb-1">Teléfono</label>
        <input type="text" th:field="*{phone}" placeholder="Ingrese el teléfono"
               class="w-full bg-gray-200 p-4 rounded-xl outline-none focus:ring-2 focus:ring-blue-500" required/>
    </div>

    <!-- Email -->
    <div>
        <label class="block font-semibold mb-1">Email</label>
        <input type="email" th:field="*{email}" placeholder="Ingrese el email"
               class="w-full bg-gray-200 p-4 rounded-xl outline-none focus:ring-2 focus:ring-blue-500" required/>
    </div>

    <!-- Dirección -->
    <div>
        <label class="block font-semibold mb-1">Dirección</label>
        <input type="text" th:field="*{address}" placeholder="Ingrese la dirección"
               class="w-full bg-gray-200 p-4 rounded-xl outline-none focus:ring-2 focus:ring-blue-500" required/>
    </div>

    <div class="absolute right-[60px] bottom-[10px] flex gap-4">
    <div class="absolute right-[60px] bottom-[10px] flex gap-4">
        <a th:href="@{/vista/client}" class="bg-gray-300 hover:bg-gray-400 text-black font-semibold py-2 px-6 rounded-full">
            Volver
        </a>
        <button type="submit"
                th:text="${modo == 'editar'} ? 'Actualizar' : 'Guardar'"
                class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded-full">
            Guardar
        </button>
    </div>
    </div>

</form>

</body>
</html>
